<header>

  <nav class="w-full bg-[#333] text-white px-6 py-4 shadow-md">
  <div class="max-w-6xl mx-auto flex items-center justify-between">

    <!-- Logo -->
    <div class="text-xl font-bold cursor-pointer">
      MyApp
    </div>

    <!-- Links -->
<ul class="hidden md:flex gap-6 font-medium">
  <li
    (click)="goTo('/')"
    class="cursor-pointer px-3 py-2 rounded-lg transition"
    [ngClass]="activeLink === 'home'
      ? 'bg-blue-600 text-white'
      : 'text-gray-200 hover:bg-blue-500 hover:text-white'"
  >
    Home
  </li>

  <li
    (click)="goTo('/todos')"
    class="cursor-pointer px-3 py-2 rounded-lg transition"
    [ngClass]="activeLink === 'todos'
      ? 'bg-blue-600 text-white'
      : 'text-gray-200 hover:bg-blue-500 hover:text-white'"
  >
    Todos
  </li>
</ul>



    <!-- Login Button -->
    <button
      class="hidden md:block cursor-pointer px-4 py-2 bg-blue-600 rounded-lg hover:bg-blue-700 transition"
    >
      Login
    </button>

  </div>
</nav>

</header>